@use '../../variables' as v;

.quiz-runner-component {
    height: 100vh;
    background-color: v.$primary;
    color: v.$font;

    .quiz-form {
        height: 100%;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 2rem;
            text-align: center;
        }

        &__current-question {
            flex: 1;
        }

        &__step-buttons {
            display: flex;
            gap: 10px;

            button {
                flex: 1;
            }
        }
    }

    .quiz-not-found {
        height: 100%;
        display: grid;
        place-items: center;
    }
}