@use '../../../variables' as v;

.quiz-list-component {
    width: 100%;
    display: grid;
    grid-gap: 15px;
  
    grid-template-columns: repeat(3, 1fr);

    .quiz-list-item {
        padding: 20px;
        background-color: v.$primary-dark;
        border-radius: 8px;
        box-shadow: 2px 4px 8px #0003;
        color: v.$font;
        cursor: pointer;
        transition: all .3s ease-in;

        &__title {
            font-size: 1.2rem;
            font-weight: 500;
        }

        &__date, &__question-count {
            font-size: 1rem;
            font-weight: lighter;
            display: block;
        }

        &:hover {
            box-shadow: 12px 12px 20px 8px #0003;
        }
    }
}