<div class="quiz-list-component">
    <div *ngFor="let quiz of quizzes" class="quiz-list-item">
        <h3 class="quiz-list-item__title mb-2">{{ quiz.title }}</h3>
        <time class="quiz-list-item__date mb-1">{{ quiz.created_at | date: 'yyy.MM.dd' }}</time>
        <span class="quiz-list-item__question-count mb-1">{{ quiz.questions.length }} question(s)</span>

        <div class="d-flex" style="flex-direction: column;">
            <button
                class="action-button w-100 mb-1"
                (click)="copyLinkToClipboard(quiz.tag)">copy access link</button>
            <button
                class="action-button w-100"
                (click)="openQuizMonitor(quiz.tag)">open quiz monitor</button>
        </div>
    </div>
</div>