<div class="quiz-list-component">
    <div *ngFor="let quiz of quizzes" class="quiz-list-item">
        <h3 class="quiz-list-item__title mb-2">{{ quiz.title }}</h3>
        <time class="quiz-list-item__date mb-1">{{ quiz.created_at | date: 'yyy.MM.dd' }}</time>
        <span class="quiz-list-item__question-count mb-1">{{ quiz.questions.length }} question(s)</span>

        <span class="quiz-list-item__copy-link mt-3 mb-3" (click)="copyLinkToClipboard(quiz.tag)">Copy quiz link</span>

        <div class="d-flex" style="justify-content: end;">
            <button class="action-button">view</button>
            <button class="action-button ml-1">edit</button>
        </div>
    </div>
</div>