@use '../../variables' as v;

$header-height: 80px;

.dashboard-component {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;

    #dashboard-menu {

    }

    #dashboard-content {
        height: 100vh;

        #header-container {
            height: $header-height;
        }

        #content-container {
            height: calc(100vh - $header-height);
            overflow-y: scroll;
            padding: 20px;
            background-color: v.$primary;
        }
    }
}