@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

html, body {
    height: 100vh;
}

.d-flex {
    display: flex;
}
