<div class="login-component">
    <div>

        <h1 class="login-header">Quizzer</h1>
        <h2 class="login-subheader">Get started with your Google account</h2>

        <div id="g_id_onload"
            data-client_id="649800251115-nju5d64mc08tjcb8ilvemk8cd6hak64b.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="onGoogleAuth"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="continue_with"
            data-size="large"
            data-logo_alignment="left">
        </div>

    </div>
</div>