<div class="quiz-question-form">
    <ng-container *ngIf="question">
        <h2 class="quiz-question-form__question mb-3">
            <span class="question-index">{{ questionIndex + 1 }}.</span>
            {{ question.question }}
        </h2>

        <div class="question-form__input">
            <ng-container *ngIf="['text', 'numeric'].includes(question.type); else choice">
                <div class="form-input">
                    <label for="">Your answer here</label>
                    <input
                        [type]="question.type === 'text' ? 'text' : 'number'"
                        [(ngModel)]="answer">
                </div>
            </ng-container>

            <ng-template #choice>
                <div class="form-input mt-2">
                    <label for="">Select your answer</label>
                    <div
                        class="form-checkbox hoverable"
                        *ngFor="let choice of question.choices; let i = index">
                        <input
                            type="radio"
                            [id]="'question-' + question.id + '-choice-' + i"
                            [value]="choice"
                            [(ngModel)]="answer">
                        <label
                            [for]="'question-' + question.id + '-choice-' + i">
                            {{ choice }}
                        </label>
                    </div>
                </div>
            </ng-template>
        </div>

        <button
            class="action-button filled w-100 mt-3"
            (click)="submit()">submit</button>
    </ng-container>
</div>